@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sacred-blue text-sacred-white;
  }
}

/* Custom scrollbar for a more premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F0C0B;
}

::-webkit-scrollbar-thumb {
  background: #C5A059;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A88540;
}
